:root{
   --primary-color:#9792E4;
   --secondary-color:#B5DDFF;
   --third-color:#0084FD;
  
}

.primary{
    background-color: var(--primary-color)}

.bg-jambo{background-color: var(--third-color)}
.c-jambo{color: var(--third-color)}


*{
font-family: sans-serif;
}

.big-container{
    min-height: 50vh;
}


.border-buttom{border-radius: 22px;}

/* profili */
.img-profil{
    background-size: cover;
    background-position: center;
    aspect-ratio: 1 / 1;
}

.img-profil{
    border-radius: 100%;
}


#img-profil-A{ 
background-image:url(../responsive-layout-materiale-completo/img/testimonial1.jpg);
}

#img-profil-B{ 
background-image:url(../responsive-layout-materiale-completo/img/testimonial2.jpg);
}

#img-profil-C{ 
background-image:url(../responsive-layout-materiale-completo/img/testimonial3.jpg);
}
/* profili */

.virgolette{
    left:22%;
    color: var(--primary-color);
}

/* benefits */
#benefits h2{
    width: 100%;
    text-align: center;
}

.benefits-title{font-size: 2em;}


.h-display{
    display: inline-block;
}


.c-code,#strategic-section,#testimonials{
    
    text-align: center;
}


@media only screen and (max-width: 768px){
    .h-display{display: none;}
    
    section .imgs{
        width: 80%;
    }
}

@media only screen and (min-width: 768px){
   
    #bars{
        display:none;
    }
   
    #benefits,
    #strategic-section,
    #profili,
    #testimonials .card,
    .jambo,
    .jambo>#cardA{
        display: flex;
        flex-direction: row;
    }

    .jambo,#benefits{
        flex-wrap: wrap;
    }

    .jambo .card{
        width:calc((100% / 3) - 15px);
    }

    .jambo>#cardA{
        width: 65%;
    }

    #benefits h2{
        width: 100%;
        text-align: center;
    }


    #benefits .card-b{
        width: 43%;
        margin: 3%;
        margin-top: 10%;

    }

    #user{
        justify-content:space-around;
        align-items: flex-start;
    }

    
    .description-user{
        margin-left: 3em;
    }


}

@media only screen and (min-width:768px){


    section .imgs{
        width: 70%;
    }

    #benefits>.card-b{
        width: calc((100% / 3) - 12%);
        margin: 6%;

    }



}




